@font-face {
    font-family: 'titulos';
    src: url(fonts/PassionOne-Regular.ttf);
}
@font-face {
    font-family: 'paragrafos';
    src: url(fonts/PatrickHandSC-Regular.ttf);
}

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --titulo: 'titulos', Courier, monospace;
    --paragrafo: 'paragrafos', Courier, monospace;
}

body{
    background-color: black;
}

header{
    color: aliceblue;
    text-align: center;
    padding-top: 50px;
}

header p{
    font-family: 'Courier New', Courier, monospace;
    padding: 0px;
    padding-bottom: 75px;
}

h1 {
    margin: auto;
    max-width: 560px;
    font-size: 70px;
    font-family: var(--titulo);
}

main{
    background-color: aliceblue;
}

p{
    padding: 50px 15px 50px 30px;
    font-family: var(--paragrafo);
    font-size: 30px;
}

.emfrente{
    background-color: aliceblue;
}

#img1{
    background-image: url(imagens/background002.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: aliceblue;
    height: 320px;
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.692);

    position: relative;
}

#img2{
    background-image: url(imagens/background001.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    color: aliceblue;
    height: 320px;
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.692);

    position: relative;
}

.sombra1{
    position: absolute;
    background-color: rgba(63, 63, 63, 0.342);
    padding: 10px;

    left: 18px;
    top: 10px;
}

.sombra2{
    position: absolute;
    background-color: rgba(63, 63, 63, 0.342);
    padding: 10px;

    left: 18px;
    top: 10px;
}

footer{
    color: aliceblue;
    text-align: center;
    padding: 10px;
}